@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
}

form{
    text-align:center; 
    margin-bottom:20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.photo {
    background: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.photo img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.dark {
    background: #121212;
    color: white;
}

.dark .photo {
    background: #1e1e1e;
}
input[type="text"] {
    padding:10px; 
    width:250px; 
    border:1px solid #ccc; 
    border-radius:5px;
}
#themeBtn
{
    margin-bottom:20px; 
    object-fit: contain
}
#loader
{
    text-align:center; 
    display:none;
}
